    body, aside a{
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        }
    a,
    .ztl-link,
    .ztl-title-medium,
    .ztl-staff-item .staff-title,
    .no-results .page-title,
    .category-listing .title a,
    .ztl-masonry h4{
        color: #704f32;
     }
    .ztl-widget-recent-posts h6 a:hover{
        color: #704f32;
    }
    .post-navigation .nav-previous a:hover,
    .post-navigation .nav-next a:hover{
        color: #704f32;
    }
    .ztl-masonry .read-more a:hover{
        background-color: #704f32 !important;
        color: #ffd823 !important;
    }
    a:visited,
    a:active,
    a:focus,
    .sidebar-right .menu a{
        color: #704f32;
    }
    a:hover,
    .sidebar-right li>a:hover {
        color: #704f32;
    }

    #ztl-social .fa:hover{
        color: #ffd823;
    }

    #menu-toggle span {
        background-color:#93c524;
    }
    #ztl-copyright{
        color: #ffd823;
    }
    #ztl-copyright a{
	text-decoration:underline;
	cursor:pointer;
	color: #ffd823;
    }
    .main-navigation a{
        font-family: 'Open Sans',sans-serif;
        font-size: 16px;
        font-weight: 400;
     }

    .main-navigation li:nth-child(4n+1) {
        color: #f25141;
    }
    .main-navigation li:nth-child(4n+2) {
        color: #ffd823;
    }
    .main-navigation li:nth-child(4n+3) {
        color: #93c524;
    }
    .main-navigation li:nth-child(4n+4) {
        color: #28a8e3;
    }
    .main-navigation ul ul:before {
        background-color: #93c524;
    }
    .main-navigation ul li:hover{
        background-color: #93c524;
    }
    .main-navigation ul ul li:hover{
        background-color: transparent !important;
    }
    .main-navigation ul ul li:hover a{
        color:#fff;
    }
    .main-navigation ul ul li:hover > a{
        background-color: #93c524;
    }
    .main-navigation a{
        color: #707070 !important;
    }
    .main-navigation li .current_page_item > a,
    .main-navigation li .current_page_ancestor > a,
    .main-navigation li .current-menu-item > a,
    .main-navigation li .current-menu-ancestor > a {
        color: #fff !important;
        background-color: #93c524;
    }
    .main-navigation .current_page_item > a,
    .main-navigation .current_page_ancestor > a,
    .main-navigation .current-menu-item > a,
    .main-navigation .current-menu-ancestor > a {
        color: #fff !important;
    }

    .main-navigation .sub-menu li.current-menu-item > a,
    .main-navigation .sub-menu li.current_page_item > a{
    	color: #fff !important;
    }

    .main-navigation .current_page_item,
    .main-navigation .current_page_ancestor,
    .main-navigation .current-menu-item,
    .main-navigation .current-menu-ancestor {
        background-color: #93c524;
    }

    .main-navigation ul ul .current_page_item,
    .main-navigation ul ul .current_page_ancestor,
    .main-navigation ul ul .current-menu-item,
    .main-navigation ul ul .current-menu-ancestor {
        background-color:#fdfdfd;
    }

    .main-navigation ul ul .current_page_item,
    .main-navigation ul ul .current-menu-item{
        background-color: transparent !important;
    }
    .main-navigation .current_page_item ul a,
    .main-navigation .current-menu-item ul a{
        color: #707070 !important;
    }
    .main-navigation ul ul .fa{
        display:none;
    }
    .post-navigation .fa {
        color: #93c524;
    }
    .custom .tp-bullet, .custom .tp-bullet:after {
		color:rgba(242,81,65,0.6) !important;
    }
    .custom .tp-bullet.selected:after{
        color:#f25141 !important;
    }

    .tp-leftarrow, .tp-rightarrow{
        background-color:#ffd823 !important;
    }
    .ztl-widget-title-dark,
    .widget-home.widget_text .widget-title,
    .dark-title,
    .comment-reply-title,
    .ztl-action-title,
    .ztl-contact-form h2{
        color:#704825;
    }
    .ztl-widget-title-light{
        color:#ffffff;
    }
    .site-footer .site-info{
        background-color:#56371b;
    }
    .site-header, .main-navigation ul ul{
        background-color:#fdfdfd;
    }

     .ztl-widget-title-right h2,
     .sidebar-right h2{
        color:#704825;
     }

    .category-listing .item i,
    .ztl-post i,
    .ztl-widget-recent-posts ul>li>a+h6+span i{
        color: #93c524;
    }

    .ztl-scroll-top:hover{
        background-color: #93c524;
    }

    .ztl-button,
    .ztl-button-circle,
    .category-listing .item .read-more a,
    .comment-body .reply a,
    .ztl-contact-form input[type=submit],
    .post-password-form input[type=submit]{
        color:#704825;
        background-color:#ffd823;
    }
    .ztl-button:hover,
    .ztl-button-circle:hover,
    .category-listing .item .read-more a:hover,
    .comment-body .reply a:hover,
    .ztl-contact-form input[type=submit]:hover,
    .post-password-form input[type=submit]:hover {
        background-color:#704825;
        color:#ffd823;
    }
    .pagination .page-numbers {
        color:#704825;
    }
    .pagination .current,
    .pagination .current:hover,
    .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading:hover {
        color:#704825 !important;
        background-color:#ffd823 !important;
     }
    .pagination .page-numbers:hover {
        background-color: #704825;
        color:#ffd823;
    }
    .pagination .prev:hover,
    .pagination .next:hover {
        color:#ffd823;
        background-color:transparent !important;}

    .ztl-contact-form input[type=submit]{
        color:#704f32;
        background-color: #ffd823;
    }
    .ztl-masonry-buttons li.vc_active,
    .ztl-masonry-buttons .vc_grid-filter-item:hover,
    .ztl-masonry .read-more a{
        background-color:#ffd823 !important;
    }
    .ztl-masonry-buttons .vc_grid-filter-item,
    .ztl-masonry .read-more a,
    .ztl-masonry-buttons .vc_active span,
    .ztl-masonry-buttons .vc_grid-filter-item:hover span {
        color:#704825 !important;
    }
    .ztl-masonry .vc_pageable-load-more-btn a{
        background-color:#93c524;
    }
    .category-sidebar-right .widget_text li:before,
    .post-sidebar-right .widget_text li:before,
    .ztl-post-info:before{
        color:#93c524;
    }
    .ztl-masonry .vc_pageable-load-more-btn a:hover{
        color:#704825 !important;
    }
    .comment-author,
    .comments-title,
    .ztl-course-item .course-title,
    .ztl-course-item .detail{
        color: #704825 !important;
    }
    .sidebar-right .widget-title::after,
    .custom-header-title::after,
    .widget-title::after{
        background-color: #ffd823;
    }
    .sidebar-footer{
        background-color: #704825;
    }
    .ztl-widget-category-container .author a,
    .ztl-widget-category-container .category,
    .ztl-widget-category-container .category a,
    .ztl-widget-category-container .entry-date,
    .ztl-widget-category-container .entry-date a,
    .category-listing .item .date,
    .category-listing .item .date a,
    .category-listing .info a,
    .category-listing .info,
    .posted-on a, .byline,
    .byline .author a,
    .ztl-masonry .vc_gitem-post-data,
    .entry-footer, .comment-form,
    .entry-footer a,
    .ztl-recent-post-date,
    .ztl-recent-post-date a,
    .ztl-post .info,
    .comment-metadata a,
    .ztl-post .info a{
        color:#a0a0a0;
    }
    .menu-item-3336 a:after, 
.menu-item-3335 a:after,
.menu-item-3334 a:after,
.menu-item-3333 a:after,
.menu-item-3480 a:after,
.menu-item-3490 a:after{
content:'New';
display:inline-block;
font-size:9px;
float:right;
background-color: #93C529;
border-radius:50%;
width:32px;
height:32px;
text-align:center;
line-height:30px;
color:#fff;
margin-top:-4px;
}

		.widget.woocommerce ul li .quantity,
		.widget.woocommerce ul li .amount,
		.woocommerce .widget_shopping_cart .total,
		.woocommerce.widget_shopping_cart .total,
		.woocommerce .product .amount,
		.price_slider_amount .price_label,
		.widget.woocommerce  .reviewer{
			color:#a0a0a0;
		}
		.woocommerce a.button.added:after,
		.woocommerce div.product form.cart .variations label{
        	color: #704825 !important;
    	}
    	.woocommerce #respond input#submit:hover,
    	.woocommerce a.button:hover,
    	.woocommerce button.button:hover,
    	.woocommerce input.button:hover,
    	.woocommerce a.button.alt:hover,
		.woocommerce button.button.alt:hover,
		.woocommerce input.button.alt:hover,
		.woocommerce .single_add_to_cart_button:hover{
        	background-color:#704825;
        	color:#ffd823;
    	}
    	.woocommerce #respond input#submit,
		.woocommerce a.button,
		.woocommerce button.button,
		.woocommerce input.button,
		.woocommerce a.button.alt,
		.woocommerce button.button.alt,
		.woocommerce input.button.alt{
			color:#704825;
			background-color:#ffd823;
		}

		.woocommerce #respond input#submit.alt.disabled,
		.woocommerce #respond input#submit.alt.disabled:hover,
		.woocommerce #respond input#submit.alt:disabled,
		.woocommerce #respond input#submit.alt:disabled:hover,
		.woocommerce #respond input#submit.alt:disabled[disabled],
		.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
		.woocommerce a.button.alt.disabled,
		.woocommerce a.button.alt.disabled:hover,
		.woocommerce a.button.alt:disabled,
		.woocommerce a.button.alt:disabled:hover,
		.woocommerce a.button.alt:disabled[disabled],
		.woocommerce a.button.alt:disabled[disabled]:hover,
		.woocommerce button.button.alt.disabled,
		.woocommerce button.button.alt.disabled:hover,
		.woocommerce button.button.alt:disabled,
		.woocommerce button.button.alt:disabled:hover,
		.woocommerce button.button.alt:disabled[disabled],
		.woocommerce button.button.alt:disabled[disabled]:hover,
		.woocommerce input.button.alt.disabled,
		.woocommerce input.button.alt.disabled:hover,
		.woocommerce input.button.alt:disabled,
		.woocommerce input.button.alt:disabled:hover,
		.woocommerce input.button.alt:disabled[disabled],
		.woocommerce input.button.alt:disabled[disabled]:hover{
			color:#704825;
			background-color:#ffd823;
		}

		.woocommerce p.stars a,
		.woocommerce .star-rating:before,
		.woocommerce .star-rating {
			color:#ffd823;
		}
		.woocommerce span.onsale,
		.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
		.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
			background-color: #93c524;
		}

		.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
			background-color:rgba(147,197,36,0.5);
		}
		.woocommerce-page #content h1,
		.woocommerce-page #content h2,
		.woocommerce-page #content h3,
		.woocommerce-thankyou-order-received,
		.woocommerce form .form-row label{
			color:#704825;
		}
.ztl-widget-staff-2 .owl-dots .owl-dot span{ color:#f25141;}
    .ztl-widget-staff-2 .owl-buttons{ color:#f25141;}
    .ztl-widget-staff-2 .owl-item{ float:left; }
    .ztl-widget-staff-2 .owl-nav{ display:none; }
    .ztl-widget-staff-2 .ztl-staff-upper { background-color:rgba(147,197,36,0.75);}
    .ztl-widget-staff-2 .ztl-circle-staff-contact{ background-color: rgba(0,0,0,0.35);}
    .ztl-widget-staff-2 .ztl-staff-navigation{background-color:rgba(112,72,37,0.7);}
    .ztl-widget-staff-2 .ztl-staff-navigation:hover{background-color:#704825;}
.ztl-widget-courses-2 .item-course-title { color:#ffffff; }
                                    .ztl-widget-courses-2 .item-course-1 .item-get-in-touch a:hover{color:#f25141;}
                                    .ztl-widget-courses-2 .item-course-2 .item-get-in-touch a:hover{color:#93c524;}
                                    .ztl-widget-courses-2 .item-course-3 .item-get-in-touch a:hover{color:#28a8e3;}
                                    .ztl-widget-courses-2 .item-course-1 .item-get-in-touch a{color:#fff; background-color:#ff614f;}
                                    .ztl-widget-courses-2 .item-course-2 .item-get-in-touch a{color:#fff; background-color:#a4d638;}
                                    .ztl-widget-courses-2 .item-course-3 .item-get-in-touch a{color:#fff; background-color:#42b7f3;}
.ztl-widget-testimonials-2 { background-color:#f25141;}
							    .ztl-widget-testimonials-2 .owl-item{ float:left; }
    							.ztl-widget-testimonials-2 .owl-nav{ display:none; }
.ztl-widget-testimonials-3 { background-color:#28a8e3;}
							    .ztl-widget-testimonials-3 .owl-item{ float:left; }
    							.ztl-widget-testimonials-3 .owl-nav{ display:none; }
.ztl-widget-gallery-2 .item-isotope a .icon-gallery{color: #fff}
.ztl-widget-gallery-3 .item-isotope a .icon-gallery{color: #fff}
.ztl-widget-numbers-2 .overlay { background-color: rgba(115,99,87,0.6); }
.ztl-widget-numbers-3 .overlay { background-color: rgba(115,99,87,0.6); }
.ztl-widget-category-2 .category i, .ztl-widget-category-2 .author i  { color:#93c524;}
.ztl-widget-contact-2 input, .ztl-widget-contact-2 textarea { background-color:#704825;}
    .ztl-widget-contact-2 input[type=submit] { background-color:#ffd823; color:#704825 ; }
    .ztl-widget-contact-2 input[type=submit]:hover { color:#ffd823; background-color:#704825 ; }
    .ztl-widget-contact-2 { background-color:#87572D; }
