	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/07/2016 14:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;
}

.flaticon-accessory73:before { content: "\f100"; }
.flaticon-animal308:before { content: "\f101"; }
.flaticon-animal417:before { content: "\f102"; }
.flaticon-apple55:before { content: "\f103"; }
.flaticon-avatar26:before { content: "\f104"; }
.flaticon-babies58:before { content: "\f105"; }
.flaticon-baby-clothing3:before { content: "\f106"; }
.flaticon-baby12:before { content: "\f107"; }
.flaticon-baby152:before { content: "\f108"; }
.flaticon-balloon6:before { content: "\f109"; }
.flaticon-bear11:before { content: "\f10a"; }
.flaticon-bear21:before { content: "\f10b"; }
.flaticon-black302:before { content: "\f10c"; }
.flaticon-black332:before { content: "\f10d"; }
.flaticon-black400:before { content: "\f10e"; }
.flaticon-book122:before { content: "\f10f"; }
.flaticon-book97:before { content: "\f110"; }
.flaticon-books40:before { content: "\f111"; }
.flaticon-boy31:before { content: "\f112"; }
.flaticon-buildings24:before { content: "\f113"; }
.flaticon-calendar-icons:before { content: "\f114"; }
.flaticon-calendar64:before { content: "\f115"; }
.flaticon-check1:before { content: "\f116"; }
.flaticon-chocolate4:before { content: "\f117"; }
.flaticon-clock14:before { content: "\f118"; }
.flaticon-clock15:before { content: "\f119"; }
.flaticon-cloudy46:before { content: "\f11a"; }
.flaticon-cupcake7:before { content: "\f11b"; }
.flaticon-dialogue2:before { content: "\f11c"; }
.flaticon-directional:before { content: "\f11d"; }
.flaticon-ducks3:before { content: "\f11e"; }
.flaticon-feeding1:before { content: "\f11f"; }
.flaticon-fly8:before { content: "\f120"; }
.flaticon-fun22:before { content: "\f121"; }
.flaticon-game10:before { content: "\f122"; }
.flaticon-gift8:before { content: "\f123"; }
.flaticon-girl19:before { content: "\f124"; }
.flaticon-graduation10:before { content: "\f125"; }
.flaticon-hardbound:before { content: "\f126"; }
.flaticon-healthy-food5:before { content: "\f127"; }
.flaticon-home118:before { content: "\f128"; }
.flaticon-house14:before { content: "\f129"; }
.flaticon-idea13:before { content: "\f12a"; }
.flaticon-key178:before { content: "\f12b"; }
.flaticon-kids2:before { content: "\f12c"; }
.flaticon-lemon10:before { content: "\f12d"; }
.flaticon-light80:before { content: "\f12e"; }
.flaticon-lovely9:before { content: "\f12f"; }
.flaticon-motel:before { content: "\f130"; }
.flaticon-motherhood2:before { content: "\f131"; }
.flaticon-note10:before { content: "\f132"; }
.flaticon-open135:before { content: "\f133"; }
.flaticon-paint41:before { content: "\f134"; }
.flaticon-paper153:before { content: "\f135"; }
.flaticon-picture31:before { content: "\f136"; }
.flaticon-pins15:before { content: "\f137"; }
.flaticon-planes:before { content: "\f138"; }
.flaticon-puzzle38:before { content: "\f139"; }
.flaticon-rocket78:before { content: "\f13a"; }
.flaticon-savings1:before { content: "\f13b"; }
.flaticon-school47:before { content: "\f13c"; }
.flaticon-send4:before { content: "\f13d"; }
.flaticon-shapes:before { content: "\f13e"; }
.flaticon-shopping-bag:before { content: "\f13f"; }
.flaticon-space-ship15:before { content: "\f140"; }
.flaticon-sport10:before { content: "\f141"; }
.flaticon-squares36:before { content: "\f142"; }
.flaticon-sun:before { content: "\f143"; }
.flaticon-sweet24:before { content: "\f144"; }
.flaticon-sweet46:before { content: "\f145"; }
.flaticon-tag36:before { content: "\f146"; }
.flaticon-talk13:before { content: "\f147"; }
.flaticon-teddy-bear1:before { content: "\f148"; }
.flaticon-toxic:before { content: "\f149"; }
.flaticon-toy53:before { content: "\f14a"; }
.flaticon-toy56:before { content: "\f14b"; }
.flaticon-trains3:before { content: "\f14c"; }
.flaticon-transport808:before { content: "\f14d"; }
.flaticon-tree110:before { content: "\f14e"; }
.flaticon-tree112:before { content: "\f14f"; }
.flaticon-tree6:before { content: "\f150"; }
.flaticon-trees26:before { content: "\f151"; }
.flaticon-valentines16:before { content: "\f152"; }
.flaticon-vegan:before { content: "\f153"; }